# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Logs
*.log


# RL Results
results/models/dqn/tensorboard/
results/models/dqn/eval_logs/
results/models/dqn/best_model/
results/models/dqn/model_final/
results/models/dqn/*.csv

# Plots
results/plots/dqn/*
results/plots/eda/*